<p>Результат:</p>
<% unless @result.nil? || @result.empty? %>
  <p>Количество чисел:</p>
  <%= @result.size %>
  <table>
    <th>Числа Армстронга</th>
    <% @result.each do |num| %>
      <tr>
        <td><%= num %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Чисел Армстронга не найдено. </p>
<% end %>
<%= link_to 'Вычислить повторно', root_path %> | 
<%= link_to 'Выйти из системы', signout_path %>